---
platform: linux

image_resource: { type: docker-image, source: { repository: flintstonecf/ci } }

inputs:
- name: ci-tasks
- name: deployment-vars

params:
  CHANGE_IP_USER: unconfigured
  CHANGE_IP_PASSWORD: unconfigured
  BOSH_USERNAME: unconfigured
  BOSH_PASSWORD: unconfigured
  ENVIRONMENT_NAME: unconfigured
  DIRECTOR_IP: unconfigured
  VARS_YAML:

run:
  path: ci-tasks/scripts/update-changeip-dns.sh
