---
resources:
- name: bits-service-ci-base
  type: git
  source:
    uri: https://github.com/cloudfoundry-incubator/bits-service-ci.git
    branch: master
    paths:
    - docker/base/Dockerfile

- name: flintstone-ci-image
  type: docker-image
  source:
    repository: flintstonecf/ci
    email: ((dockerhub-email))
    username: ((dockerhub-username))
    password: ((dockerhub-password))

- name: cf-cli-release
  type: github-release
  source:
    owner: cloudfoundry
    repository: cli
  check_every: 60m

jobs:
- name: create-base-image
  plan:
  - aggregate:
    - { get: bits-service-ci-base, trigger: true }
    - { get: cf-cli-release, trigger: true }
  - put: flintstone-ci-image
    params: { build: bits-service-ci-base/docker/base }
